<%- layout('layout/layout.ejs') %>

<%- include('partials/navbar.ejs') %>
    <div class="content-wrapper">
        <div class="container">

            <div class="col-md-12">
                <center><h4 class="header-line">Add Pass</h4></center>    
            </div>

            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">

                    <div class="panel panel-success" style="border: 0;">

                        <div class="panel-body">

                            <div class="form-group">
                                <label>Vehicle Category <label style="color: red">*</label></label>
                                <select class="form-control" name="author" required="required" id="vehicle_category">
                                </select>
                            </div>

                            <div class="form-group">
                                <label>Registration Number <label style="color: red">*</label></label>
                                <input class="form-control" type="text" autocomplete="off" id="reg_number" placeholder="Enter Registration Number"  required />
                            </div>

                            <div class="form-group">
                                <label>Issue Date <label style="color: red">*</label></label>
                                <input class="form-control" type="date" autocomplete="off" id="issue_date" required />
                            </div>

                            <div class="form-group">
                                <label>Applicant Name <label style="color: red">*</label></label>
                                <input class="form-control" type="text" autocomplete="off" id="applicant_name" placeholder="Enter Applicant Name Number"  required />
                            </div>


                            <div class="form-group">
                                <label>Age <label style="color: red">*</label></label>
                                <input class="form-control" type="number" autocomplete="off" id="applicant_age" placeholder="Enter Applicant Age"  required />
                            </div>


                            <div class="form-group">
                                <label>Address <label style="color: red">*</label></label>
                                <input class="form-control" type="text" autocomplete="off" id="applicant_address" placeholder="Enter Applicant Address" required />
                            </div>

                            <div class="form-group">
                                <label>Phone <label style="color: red">*</label></label>
                                <input class="form-control" type="number" autocomplete="off" id="applicant_phone" placeholder="Enter Applicant Phone" required />
                            </div>

                            <div class="form-group">
                                <label>Balance <label style="color: red">*</label></label>
                                <input class="form-control" type="number" autocomplete="off" id="applicant_balance" placeholder="Enter Applicant Balance" required />
                            </div>

                            <button type="submit" name="create" id="submitPass" class="btn btn-success">Add Pass</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
<%- include('partials/footbar.ejs') %>
  
<script type="text/javascript" src="js/addPass.js"></script>