<%- layout('layout/layout.ejs') %>

<%- include('partials/navbar.ejs') %>
    <div class="content-wrapper">

        <div class="container">

            <% if(data.role == "Admin"){ %>  
                <div class="col-md-12">
                    <center><h4 class="header-line">ADMIN DASHBOARD</h4></center>
                </div>
            <%  } %>

            <% if(data.role == "Staff"){ %>  
                <div class="col-md-12">
                    <center><h4 class="header-line">User DASHBOARD</h4></center>
                </div>
            <%  } %>
            
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <div class="alert alert-success back-widget-set text-center">
                            <i class="fa fa-bars fa-5x"></i>
                            <h3 id="todayReceipts"></h3>
                            Today
                    </div>
                </div> 

                <div class="col-md-3 col-sm-3">
                    <div class="alert alert-info back-widget-set text-center">
                        <i class="fa fa-bars fa-5x"></i>
                        <h3 id="totalStaff"></h3>
                            Staff
                    </div>
                </div> 

                <div class="col-md-3 col-sm-3">
                    <div class="alert alert-primary back-widget-set text-center">
                        <i class="fa fa-bars fa-5x"></i>
                        <h3 id="totalCategories"></h3>
                            Categories
                    </div>
                </div> 

                <div class="col-md-3 col-sm-3">
                    <div class="alert alert-warning back-widget-set text-center">
                        <i class="fa fa-bars fa-5x"></i>
                        <h3 id="totalPasses"></h3>
                            Passes
                    </div>
                </div> 
            </div>
        </div>
    </div>

<%- include('partials/footbar.ejs') %>
