<%- layout('layout/layout.ejs') %>

<link rel="stylesheet" type="text/css" href="css/Datatables/datatables.css">
<link type="text/css" href="css/Datatables/datatables.min.css">

<%- include('partials/navbar.ejs') %>
<div class="content-wrapper">
    <div class="container">

        <div class="col-md-12">
            <center><h4 class="header-line">Manage Receipts</h4></center>
        </div>
      
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-success" style="border: 0;">
                     <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table" id="receiptses">
                                <thead>
                                    <tr>
                                        <th>Category</th>
                                        <th>Vehicle Number</th>
                                        <th>Entry Date</th>
                                        <th>Entry Time</th>
                                        <th>Trip</th>
                                        <th>Cost</th>
                                        <th>Actions</th>
                                     </tr>
                                </thead>

                                <tbody></tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>   

<%- include('partials/footbar.ejs') %>

<script type="text/javascript" src="js/manage_receipt.js"></script>
<script type="text/javascript" src="js/Datatables/datatables.js"></script>
<script type="text/javascript" src="js/Datatables/datatables.min.js"></script>