<%- layout('layout/layout.ejs') %>

<%- include('partials/navbar.ejs') %>
<div class="content-wrapper">
    <div class="container">
      
         <div class="col-md-12">
            <center><h4 class="header-line">Pass User</h4></center>    
        </div>
          
        <div class="row">
            
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">

                <div class="panel panel-success" style="border: 0;">

                    <div class="panel-body">

                        <div class="form-group">
                            <label>Vehicle Number <label style="color: red">*</label></label>
                            <input class="form-control" type="text" id="vehicle_number" placeholder="Enter Vehicle Number" required onchange="checkForPass()" />
                        </div>

                        <div class="form-group">
                            <label>Category : </label>
                            <span id="vehicle_category"></span>
                        </div>

                        <div class="form-group">
                            <label>Balance : </label>
                            <span id="balance"></span>
                        </div>

                        <div class="form-group">
                            <label>Cost : </label>
                            <span id="cost"></span>
                        </div>

                        <button type="submit" name="create" id="allowVehicle" class="btn btn-success" style="visibility: hidden">Allow </button>
            
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footbar.ejs') %>
            
<script type="text/javascript" src="js/passUser.js"></script>