body {
    font-family: 'Open Sans', sans-serif;
    line-height:28px;  
}

/* Login Page */

.content-wrapper {
    margin-top: 40px;
    min-height:500px;
    padding-bottom:90px;
}
.header-line {
    font-weight:900;
    padding-bottom:25px;
    border-bottom:5px solid black;
    text-transform:uppercase;
}
.pad-botm {
    padding-bottom:30px;
}